.features {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    padding-right: 17%;
}

.featuresLeft {
    width: 40%;
    display: flex;
    align-items: left;
    justify-content: center;
}

.featuresLeft img {
    width: 100%;
    object-fit: contain;
}

.featuresRight {
    width: 60%;
}

.featuresRight h1 {
    font-size: 3rem;
    font-weight: 500;
    color: #163135;
    padding-bottom: 35px;
}

.featuresRight p {
    font-size: 0.92rem;
}

@media (width <= 992px) {
    .features {
        padding: 75px 10% 25px 0;
    }
}

@media (width <= 576px) {
    .features {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        gap: 25px;
    }

    .featuresLeft {
        width: 100%;
    }

    .featuresRight {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }
}