.subHeroCard {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.subHeroCardLeft {
    height: 100%;
    padding: 25px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subHeroCardLeftContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
}

.subHeroCardLeft p {
    font-size: 0.92rem;
}

.subHeroCardLeft h3 {
    font-size: 1.65rem;
    font-weight: 500;
}

.priceTag h4 {
    font-size: 1.15rem;
    font-weight: 500;
    display: inline;
    background-color: #d6c5bb;
    border-radius: 20px;
}

.subHeroCardLeft button {
    font-size: 0.92rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    text-align: left;
    cursor: pointer;
} 

.subHeroCardRight {
    padding-top: 30px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
}

.subHeroCardRight img {
    height: 100%;
    object-fit: contain;
}

@media (width <= 576px) {
    .subHeroCardLeft {
        width: 60%;
    }

    .subHeroCardRight {
        width: 40%;
        padding-top: 25px;
    }

    .subHeroCardLeft p {
        font-size: 0.75rem;
    }
    
    .subHeroCardLeft h3 {
        font-size: 1.25rem;
    }

    .priceTag h4 {
        font-size: 1rem;
    }
    
}