.subHero {
    text-align: center;
    padding: 75px 17% 25px 17%;
    display: flex;
    flex-direction: column;
}

.subHero h1 {
    font-size: 3rem;
    font-weight: 500;
    color: #163135;
}

.subHeroContent {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.subHeroLeft {
    width: 60%;
    background-color: #ead9cf;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.subHeroLeftContent {
    height: 270px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.subHeroRight {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.subHeroRightTop {
    height: 130px;
    background-color: #e5eae2;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.subHeroRightBottom {
    height: 130px;
    background-color: #163135;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
}

@media (width <= 992px) {
    .subHeroContent {
        flex-direction: column;
    }

    .subHeroLeft {
        width: 100%;
    }

    .subHeroRight {
        width: 100%;
    }
}

@media (width <= 768px) {
    .subHero {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (width <= 576px) {
    .subHero {
        padding-left: 10%;
        padding-right: 10%;
        justify-content: center;
    }

    .subHeroLeftContent {
        height: 270px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}