.productsCard {
    width: 235px;
    height: 285px;
    background-color: white;
    border-radius: 20px;
}

.productImage {
    width: 235px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 10px 20px;
}

.productImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.productDescription {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.productDescription h4 {
    font-size: 1rem;
    color: #163135;
}

.productDescription p {
    font-size: 0.92rem;
    font-weight: 500;
    color: #c5855d;
}

.productDescriptionImage img {
    width: 27px;
    cursor: pointer;
}